	ul#list-nav {
		list-style:none;
		padding-left : 10px;
		
	}

	ul#list-nav li {
		display:inline
	}

	ul#list-nav li a {
		text-decoration:none;
		color:#eee;
		text-align:left;
	}
	ul#list-nav li a:hover {
		background:#a2b3a1;
		color:#000
	}
	a.tooltip{
		position:relative;
		text-decoration: none;
	}

	a.tooltip span{
		display: none;
	}

	a.tooltip:hover span{
		display:block;
		position:absolute;
		top:20px; left:20px;
		padding: 5px;
		width:150px;
		border:1px solid #000;
		background-color:#FFFFAA;
		color:#000;
	}
	
	#div1 {
		background-color : #CCCCCC;
	}
	#h1 {
		color : #000000;
		padding-left:10px;
	}
	#div2 {
		float : right;
		background-color : #F0F0FF;
		width : 320px;
		margin : 10px;
		padding-left:10px;
		padding-top : 0px;
	}
	#p1 {
		color : #666666;
		padding-left:10px;
	}
	#h2 {
		color : black;
	}
	#p2 {
		color : black;
	}
	#div3 {
		background-color : #000000;
	}
	#all {
		border-style : solid;
		border-width : 1px;
		border-color : #000000;
		margin-left : 20px;
		margin-right : 20px;
		margin-top : 0px;
	}
	#h3 {
		color : black;
	}
	#div4 {
		background-color : #FFFFFF;
		padding-left:10px;
		padding-top : 0px;
	}
	#foot {
		text-align : center;
		background-color : #F0F0F0;
		padding : 10px;
	}
	