/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
header {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 39px;
}
table#articles_list {
	margin-top: 2em;
	border-collapse: collapse;
	width: 900px;
}
table#articles_list tbody {
	height: 400px;
	overflow: auto;
}
table#articles_list thead {
	background: #CCC;
}
table#articles_list td {
	margin: 10px 0px;
	padding: 10px;
}
ul.menubar {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	background-color: #F0F0F0;
}
ul.menubar li {
	display: inline;
	margin-right: 100px;
}