// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#article_list {
	margin-top: 2em;
	border-collapse: collapse;
	width: 900px;
}

